.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 101;

  background-color: var(--color-inputs);
  border-bottom: 1px solid var(--color-badges);

  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease,
    opacity 0.5s ease;
  backdrop-filter: blur(10px);
  opacity: 0.95;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.headerContainer {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 320px;
}

.logo {
  padding: 28px 0;
}

.logoIcon {
  width: 136px;
  height: 16px;
}

.logo,
.logoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    max-width: 768px;
    gap: 0;
  }
}

@media screen and (min-width: 1158px) {
  .headerContainer {
    max-width: 1342px;
  }
}
