.tabsGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 40px;
  margin: 0 auto;
  padding: 60px 0 0;
}

.tabsNav {
  grid-column: 1 / -1;
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--color-gray-light);
  position: sticky;
  top: 0;
  width: 100%;
}

.tabsContentMain {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tabsSidebar {
  grid-column: 1;
}

.tabItem {
  padding-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: var(--font-lg);
  line-height: 1.2;
  color: var(--color-main);
  position: relative;
  transition: color var(--transition-base);
}

.activeTab::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--color-button);
}

.tabItem:hover:not(.activeTab) {
  color: var(--color-button-hover);
}

@media (min-width: 1158px) {
  .tabsGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "nav nav"
      "tabContent sidebarContent";
    gap: 44px;

    max-width: 1342px;
  }

  .tabsNav {
    grid-area: nav;
  }

  .tabsContentMain {
    grid-area: tabContent;
  }

  .tabsSidebar {
    grid-area: sidebarContent;
  }

  .tabsNav {
    gap: 80px;
  }
}
