.filterGroupTitle {
  margin-bottom: 14px;
  padding-bottom: 14px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: var(--font-base);
  line-height: 1.2;
  color: var(--color-main);
  width: 100%;
  border-bottom: 1px solid var(--color-gray-light);
}

.filterGroup {
  margin-bottom: 15px;
}

.filterGroup:last-of-type {
  margin-bottom: 20px;
}

.filterGroupContent {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 8px;
}

@media screen and (min-width: 1158px) {
  .filterGroupTitle {
    margin-bottom: 24px;
    padding-bottom: 24px;
    font-size: var(--font-lg);
  }

  .filterGroup {
    margin-bottom: 32px;
  }

  .filterGroup:last-of-type {
    margin-bottom: 40px;
  }
}
