ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset {
  border: none;
  min-inline-size: 0;
}

fieldset,
legend {
  padding: 0;
  margin: 0;
}

input,
textarea,
button {
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

input:checked {
  border: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

textarea {
  resize: unset;
}

button,
input,
textarea {
  outline: none;
}

button:focus-visible,
input:focus-visible,
textarea:focus-visible,
a:focus-visible {
  outline: 2px solid var(--color-main);
  outline-offset: 2px;
}

button:focus:not(:focus-visible),
input:focus:not(:focus-visible),
textarea:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
  outline: none;
  border-color: var(--color-main);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
