:root {
  /* Fonts */
  --font-family: "Inter", sans-serif;

  /* Colors */
  --color-main: #101828;
  --color-text: #475467;
  --color-white: #fff;
  --color-inputs: #f7f7f7;
  --color-badges: #f2f4f7;
  --color-gray: #6c717b;
  --color-gray-light: #dadde1;
  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-rating: #ffc531;

  /* Font size */
  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-base: 1rem; /* 16px */
  --font-md: 1.125rem; /* 18px */
  --font-lg: 1.25rem; /* 20px */
  --font-xl: 1.5rem; /* 24px */
  --font-2xl: 2rem; /* 32px */
  --font-3xl: 2.5rem; /* 40px */
  --font-4xl: 3rem; /* 48px */
  --font-5xl: 4rem; /* 64px */

  /* Spacing */
  --space-none: 0rem; /* 0px */
  --space-xs: 0.25rem; /* 4px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */
  --space-2xl: 2.5rem; /* 40px */
  --space-3xl: 3rem; /* 48px */
  --space-4xl: 4rem; /* 64px */

  /* Transition */
  --transition-base: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
