.bookingForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.bookingForm input,
.bookingForm textarea {
  padding: 18px;
  width: 100%;
  height: 60px;
  background-color: var(--color-inputs);
  border-radius: 12px;
  border: 1px solid transparent;
  transition: border var(--transition-base);
}

.bookingForm textarea {
  margin-bottom: 24px;
  height: 118px;
  overflow-y: auto;
}

textarea:hover,
input:hover {
  border-color: var(--color-button);
}

.bookingForm textarea:focus,
.bookingForm input:focus {
  outline: none;
  border: 1px solid var(--color-main);
}

.bookingForm .submitButton {
  margin-top: 72px;
  display: block;
  padding: 16px 63px;
  width: 166px;
  height: 56px;
}

.inputError {
  border-color: var(--color-button);
}

.submitButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
