.sidebar {
  padding: 0 15px;
  z-index: 100;
  height: 100%;
  width: 100%;
  align-self: start;
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: sticky;
    top: 72px;
    left: 0;
    height: calc(100vh - 72px);
  }
}
