.filtersLayout {
  background-color: var(--color-white);
}

.filters {
  padding-top: 20px;
}

.filtersTitle {
  margin-bottom: 22px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-base);
  line-height: 1.5;
  color: var(--color-text);
}

@media screen and (min-width: 1158px) {
  .filters {
    padding-top: 40px;
  }

  .filtersTitle {
    margin-bottom: 32px;
  }
}
