.textInputWrapper {
  position: relative;
  width: 100%;
  height: 40px;
}

.textInputWrapper.left .textInput {
  padding-left: 48px;
}

.textInputWrapper.right .textInput {
  padding-right: 48px;
}

.textInputLabelText {
  margin-bottom: 8px;
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-base);
  line-height: 1.5;
  color: var(--color-gray);
  height: 24px;
}

.textInputIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  fill: var(--color-gray);
  z-index: 1;
  transition: fill var(--transition-base);
}

.left .textInputIcon {
  left: 20px;
}

.right .textInputIcon {
  right: 20px;
}

.textInputWrapper:focus-within .textInputIcon,
.textInputWrapper .textInput:not(:placeholder-shown) ~ .textInputIcon {
  fill: var(--color-main);
}

.textInput {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-base);
  line-height: 1.5;
  color: var(--color-gray);
  background-color: var(--color-inputs);
  border-radius: 12px;
  border: 1px solid transparent;
  transition: border var(--transition-base);
}

.textInput:not(:placeholder-shown) {
  color: var(--color-main);
}

.textInput:hover {
  border: 1px solid var(--color-button);
}

.textInput:focus {
  outline: none;
  border: 1px solid var(--color-main);
}

@media screen and (min-width: 768px) {
  .textInputWrapper {
    height: 56px;
  }
  .textInput {
    width: 360px;
  }
}
