.button {
  font-weight: 500;
  font-size: var(--font-base);
  line-height: 1.5;
  letter-spacing: -0.01em;
  border-radius: 200px;
  transition: background-color var(--transition-base);
}

.primary {
  background-color: var(--color-button);
  color: var(--color-white);
}

.primary:hover,
.primary:focus {
  background-color: var(--color-button-hover);
}

.outline {
  background-color: transparent;
  color: var(--color-main);
  border: 1px solid var(--color-gray-light);
}

.outline:hover,
.outline:focus {
  border: 1px solid var(--color-button-hover);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
