.navbar {
  width: calc(100%- 272px);
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navLink {
  padding: 24px 0;
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  text-align: center;
  color: var(--main);
  transition: color var(--transition-base);
}

.navLink:hover,
.navLink:focus,
.navLink.current {
  color: var(--color-button-hover);
}

.navLink:active {
  color: var(--color-rating);
}

.navLink:focus-visible {
  outline: 2px solid var(--color-button);
  outline-offset: 2px;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    max-width: 768px;
  }

  .navList {
    gap: 32px;
  }
}
