.navbar {
  width: calc(100%- 172px);
}

.navList {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  min-width: 138px;
}

.navLink {
  padding: 24px 0;
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  text-align: center;
  color: var(--main);
  transition: color var(--transition-base);
}

.navLink:hover,
.navLink:focus,
.navLink.current {
  font-weight: 500;
  color: var(--color-button-hover);
}

.navLink:active {
  color: var(--color-rating);
}

@media screen and (min-width: 768px) {
  .headerContainer {
    max-width: 768px;
  }

  .navbar {
    width: calc(100%- 272px);
  }

  .navList {
    justify-content: center;
    gap: 32px;
  }
}
