.gallery {
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.galleryItem {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-inputs);
}

.galleryImg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (min-width: 768px) {
  .galleryItem {
    width: calc((100% - 16px) / 2);
    height: 312px;
  }
}

@media (min-width: 1158px) {
  .gallery {
    gap: 48px;
  }

  .galleryItem {
    width: calc((100% - 48px * 3) / 4);
    height: 312px;
  }
}
