.pageLayout:not(.pageLayout:has(aside)) {
  padding: 32px 0 0;
}

.pageLayout:has(aside) {
  display: grid;
  grid-template-columns: max(320px);
  gap: 24px;
  margin-inline: auto;
  justify-content: center;
}

.pageLayout:has(aside) .content {
  padding: 20px 15px 0;
}

.pageLayout:has(aside) .sidebar {
  align-self: start;

  z-index: 100;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .pageLayout:has(aside) {
    grid-template-columns: 390px 1fr;
    gap: 49px;
    max-width: 768px;
  }

  .pageLayout:not(.pageLayout:has(aside)) {
    max-width: 768px;
  }

  .pageLayout:has(aside) .content {
    padding: 48px 15px 0 0;
  }

  .pageLayout:has(aside) .sidebar {
    padding: 38px 0 0;
    position: sticky;
    top: 72px;
    left: 0;
  }
}

@media screen and (min-width: 1158px) {
  .pageLayout:not(.pageLayout:has(aside)) {
    padding: 48px 0 0;
    max-width: 1342px;
  }

  .pageLayout:has(aside) {
    max-width: 1342px;
  }
}
