.filters {
  padding-bottom: 20px;
}

.filterButton {
  padding: 10px;
  width: 100px;
  height: 46px;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1158px) {
  .filterButton {
    padding: 16px 56.5px;
    width: 166px;
    height: 56px;
  }
}
