.review {
  gap: 4px;
  min-width: 133px;
}

.reviewIcon {
  fill: var(--color-rating);
}

.reviewInfo {
  font-family: var(--font-family);
  font-size: var(--font-base);
  color: var(--color-main);
  text-decoration-line: underline;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 3px;
  text-decoration-skip-ink: none;
}
