.features {
  display: flex;
  flex-direction: column;
  gap: 100px;
  border-radius: 10px;
  padding: 24px 20px;
  background-color: var(--color-inputs);
}

.vehicleDetailsTitle {
  margin-bottom: 24px;
  padding-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: var(--font-lg);
  line-height: 1.2;
  color: var(--color-main);
  border-bottom: 1px solid var(--color-gray-light);
}

@media screen and (min-width: 1440px) {
  .features {
    padding: 44px 52px;
  }
}
